.test-list {
  display: flex;
  gap: 30px;
}

.test-ikon-item {
  fill: none;
  stroke: var(--primary-white);
}

.test-link {
  display: block;
  height: 32px;
  width: 32px;
  background-color: tomato;
}
