.test-list {
  display: flex;
  gap: 30px;
}

.test-ikon-item {
  fill: var(--primary-white);
}

.test-link {
  /* display: inline-block; */
  display: block;
  height: 32px;
  width: 32px;
  background-color: tomato;
}
