 <header class="header-section">
      <div class="container header-container">
        <nav class="header-nav">
          <ahref="./index.html" target="_blank" class="logo header-logo link"
              >MIMIHO></a>
              <ul>
                <li>
                  <a href="" class="header-nav-link">Ресторан</a>
                </li>
                <li>
                  <a
                  href="tel:095 555 95 33"
                  class="header-nav-link-tel link"
                  target="_blank"
                  >
                  <svg class="header-tel-icon" width="" height="">
                    <use href="./img"></use>
                  </svg>
                  <span>095 555 95 33</span>
                </a>
                </li>
                <li>
                  <a href="" class="header-nav-link">Готель</a>              
                </li>
                <li>
                  <a
                  href="tel:066 849 10 89"
                  class="header-nav-link-tel link"
                  target="_blank"
                  >
                  <svg class="header-tel-icon" width="" height="">
                    <use href="./img"></use>
                  </svg>
                  <span>066 849 10 89</span>
                </a>                
                </li>
              </ul>
        </nav>
        <ul class="header-social list">
          <li class="header-social-list">
            <a href="" class="header-social-link link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="header-social-icon" width="" height="">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list">
            <a href="" class="header-social-link link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="header-social-icon" width="" height="">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list">
            <a href="" class="header-social-link link" target="_blank" rel="nofollow noopener noreferrer">
              <svg class="header-social-icon" width="" height="">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </header>