.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*.header-nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 4px;
  height: 4px;
  background: #121212;
}*/
.header {
  background: #ffffff;
  border-bottom: 0.5px solid rgba(18, 18, 18, 0.3);
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow: scroll;
  transform: translateX(100%);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  border: none;
  margin-right: 83px;
  padding: 0;
}
.menu-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.close-btn {
  border: none;
  margin-right: 83px;
  padding: 0;
}
.mobile-menu-icon {
  stroke: #000000;
  stroke-width: 1.5px;
  fill: #000000;
}
.header-social {
  display: flex;
  gap: 14px;
  margin-left: 177px;
}
.header-social-icon {
  stroke: #000000;
  stroke-width: 1.5px;
  fill: black;
}
.header-nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(22px / 14px);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #121212;
  text-decoration: none;
}

.logo-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 6px;
  line-height: calc (8px / 6px);
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: #121212;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-social {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    display: none;
  }
  .mobile-menu-btn {
    margin-right: 246px;
  }
  .logo {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px / 20px);
  }
  .logo-text {
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10px / 8px);
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu-btn {
    display: none;
  }
  .header-container {
    padding-top: 20px;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 370px;
  }

  .header-list {
    gap: 32px;
  }

  .header-nav-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18px / 14px);
    /* identical to box height, or 129% */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #121212;
    text-decoration: none;
  }

  .header-nav-link.current::after {
    content: '';
    position: absolute;
    top: 47px;
    bottom: 2px;
    width: 4px;
    height: 4px;
    background: #121212;
  }
  .header-nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px / 20px);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
  }

  .logo-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10px / 8px);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #121212;
  }

  .header-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 509px;
  }

  .header-social-list {
    gap: 16px;
    list-style: none;
  }

  .header-social-link {
    display: block;
  }

  .header-social-icon {
    width: 24px;
    height: 24px;
    fill: #121212;
  }

  /*.header-social-link:hover .header-social-icon {
    fill: #ff0000;*/
}
