<section class="about-complex">
  <ul class="test-list">
    <li class="test-list-item">
      <a class="test-link" href="">
        <svg class="test-ikon-item" width="32" height="32">
          <use href="./img/icons.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="test-list-item">
      <a class="test-link" href="">
        <svg class="test-ikon-item" width="32" height="32">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
