<section class="section-location">
  <div class="container">
    <ul class="main-btn-list">
      <li class="main-btn-item">
        <button type="button" class="js-open-modal" data-modal="1">
          Book a table
        </button>
      </li>
      <li class="main-btn-item">
        <button type="button" class="js-open-modal" data-modal="2">
          Book a room
        </button>
      </li>
      <li class="main-btn-item">
        <button type="button" class="js-open-modal" data-modal="3">
          Prise per room
        </button>
      </li>
    </ul>
  </div>
</section>
