<section class="about-complex">
  <div class="container">
    <ul class="test-list">
      <li class="test-list-item">
        <a class="test-link" href="">
          <svg class="test-ikon-item" width="32" height="32">
            <use href="./img/symbols.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="test-list-item">
        <a class="test-link" href="">
          <svg class="test-ikon-item" width="32" height="32">
            <use href="./img/symbols.svg#icon-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <h2 class="section-title visually-hidden">About Our Complex</h2>
  <picture class="complex-photo first-one">
    <source
      srcset="
        ././img/main/about-complex-main/main-abt-compx-im1-desk.jpg    1x,
        ././img/main/about-complex-main/main-abt-compx-im1-desk-2x.jpg 2x
      "
      media="(min-width: 1440px)"
      sizes="(min-width: 1440px) 482px, 100vw"
      type="image/jpeg"
    />
    <source
      srcset="
        ././img/main/about-complex-main/main-abt-compx-im1-tab.jpg    1x,
        ././img/main/about-complex-main/main-abt-compx-im1-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
      sizes="(min-width: 768px) 482px, 100vw"
      type="image/jpeg"
    />
    <source
      srcset="
        ././img/main/about-complex-main/main-abt-compx-im1-mob.jpg    1x,
        ././img/main/about-complex-main/main-abt-compx-im1-mob-2x.jpg 2x
      "
      media="(min-width: 767.9px)"
      sizes="(min-width: 767.9px) 335px, 100vw"
      type="image/jpeg"
    />
    <img
      src="././img/main/about-complex-main/main-abt-compx-im1-mob.jpg"
      alt="image1"
    />
  </picture>
  <picture class="complex-photo second-one">
    <source
      srcset="
        ././img/main/about-complex-main/main-abt-compx-im2-desk.jpg    1x,
        ././img/main/about-complex-main/main-abt-compx-im2-desk-2x.jpg 2x
      "
      media="(min-width: 1440px)"
      sizes="(min-width: 1440px) 439px, 100vw"
      type="image/jpeg"
    />
    <source
      srcset="
        ././img/main/about-complex-main/main-abt-compx-im2-tab.jpg    1x,
        ././img/main/about-complex-main/main-abt-compx-im2-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
      sizes="(min-width: 768px) 404px, 100vw"
      type="image/jpeg"
    />
    <source
      srcset="
        ././img/main/about-complex-main/main-abt-compx-im2-mob.jpg    1x,
        ././img/main/about-complex-main/main-abt-compx-im2-mob-2x.jpg 2x
      "
      media="(min-width: 767.9px)"
      sizes="(min-width: 767.9px) 282px, 100vw"
      type="image/jpeg"
    />
    <img
      src="././img/main/about-complex-main/main-abt-compx-im2-mob.jpg"
      alt="image2"
    />
  </picture>
  <div class="text-part-complex">
    <h3 class="text-title-complex">restaurant-hotel complex</h3>
    <p class="complex-text">
      Indulge in a taste of luxury with every bite at Hotel Mimino. From the
      freshest seafood to the most succulent steaks, every dish is crafted with
      care to ensure that you enjoy a truly memorable dining experience.
    </p>
    <p class="complex-text">
      Treat yourself to a taste of the good life and come dine with us today!
    </p>
  </div>
  <div class="bottom-part-complex">
    <picture class="complex-photo third-one">
      <source
        srcset="
          ././img/main/about-complex-main/main-abt-compx-im3-desk.jpg    1x,
          ././img/main/about-complex-main/main-abt-compx-im3-desk-2x.jpg 2x
        "
        media="(min-width: 1440px)"
        sizes="(min-width: 1440px) 530px, 100vw"
        type="image/jpeg"
      />
      <source
        srcset="
          ././img/main/about-complex-main/main-abt-compx-im3-tab.jpg    1x,
          ././img/main/about-complex-main/main-abt-compx-im3-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
        sizes="(min-width: 768px) 530px, 100vw"
        type="image/jpeg"
      />
      <source
        srcset="
          ././img/main/about-complex-main/main-abt-compx-im3-mob.jpg    1x,
          ././img/main/about-complex-main/main-abt-compx-im3-mob-2x.jpg 2x
        "
        media="(min-width: 767.9px)"
        sizes="(min-width: 767.9px) 335px, 100vw"
        type="image/jpeg"
      />
      <img
        src="././img/main/about-complex-main/main-abt-compx-im3-mob.jpg"
        alt="image3"
      />
    </picture>
    <div class="text-part-complex">
      <h3 class="text-title-complex">business class hotel</h3>
      <p class="complex-text">
        The Mimino hotel features spacious and stylish double luxury rooms with
        modern amenities for a comfortable stay.
      </p>
    </div>
    <picture class="complex-photo fourth-one">
      <source
        srcset="
          ././img/main/about-complex-main/main-abt-compx-im4-desk.jpg    1x,
          ././img/main/about-complex-main/main-abt-compx-im4-desk-2x.jpg 2x
        "
        media="(min-width: 1440px)"
        sizes="(min-width: 1440px) 266px, 100vw"
        type="image/jpeg"
      />
      <source
        srcset="
          ././img/main/about-complex-main/main-abt-compx-im4-tab.jpg    1x,
          ././img/main/about-complex-main/main-abt-compx-im4-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
        sizes="(min-width: 768px) 266px, 100vw"
        type="image/jpeg"
      />
      <source
        srcset="
          ././img/main/about-complex-main/main-abt-compx-im4-mob.jpg    1x,
          ././img/main/about-complex-main/main-abt-compx-im4-mob-2x.jpg 2x
        "
        media="(min-width: 767.9px)"
        sizes="(min-width: 767.9px) 335px, 100vw"
        type="image/jpeg"
      />
      <img
        src="././img/main/about-complex-main/main-abt-compx-im4-mob.jpg"
        alt="image4"
      />
    </picture>
  </div>
</section>
