<section class="section-about-hotel-main">
    <div class="container">
        <h2 class="section-title section-title-about-hotel">Welcome to the epitome of luxury and comfort</h2>
        <ul class="about-hotel-list">
            <li class="about-hotel-item">Our hotel rooms are elegantly designed with an eye for detail, ensuring that you have everything you need for a relaxing and rejuvenating stay.</li>
            <li class="about-hotel-item">Each room is equipped with the latest amenities, including plush bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker to help you start your day right. Our spacious bathrooms feature luxurious toiletries and towels, so you can pamper yourself in complete privacy.</li>
        </ul>
    </div>
    <div class="about-hotel-foto">
        <picture>
            <source
            media="(min-width:1440px)"
            srcset="
            ././img/main/about-hotel-main/about-hotel@1x-desc.jpg 1x,
            ././img/main/about-hotel-main/about-hotel@2x-desc.jpg 2x"
            type="image/jpeg"/>
            <source
            media="(min-width:768px)"
            srcset="
            ././img/main/about-hotel-main/about-hotel@1x-tab.jpg 1x,
            ././img/main/about-hotel-main/about-hotel@2x-tab.jpg 2x"
            type="image/jpeg"/>
            <img 
            srcset="
                ././img/main/about-hotel-main/about-hotel@1x-mob.jpg 1x,
                ././img/main/about-hotel-main/about-hotel@2x-mob.jpg 2x"
            src="././img/main/about-hotel-main/about-hotel@1x-mob.jpg"
            width="704"
            alt="hotel"
            loading="lazy"
            />
        </picture>
    </div>
</section>