<section class="section-location">
  <div class="container">
    <div class="header-img-wrap">
      <h2 class="location-header section-title">Location</h2>
      <picture>
        <source
          srcset="
            .//.//img/main/contacts-main/main-location-map-desk.jpg    1x,
            .//.//img/main/contacts-main/main-location-map-desk-2x.jpg 2x
          "
          media="(min-width: 1440px)"
          sizes="(min-width: 1440px) 640px, 100vw"
          type="image/jpeg"
        />
        <source
          srcset="
            .//.//img/main/contacts-main/main-location-map-tab.jpg    1x,
            .//.//img/main/contacts-main/main-location-map-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px, 100vw"
          type="image/jpeg"
        />
        <source
          srcset="
            .//.//img/main/contacts-main/main-location-map-mob.jpg    1x,
            .//.//img/main/contacts-main/main-location-map-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
          sizes="(max-width: 767px) 335px, 100vw"
          type="image/jpeg"
        />
        <img
          src=".//.//img/main/contacts-main/main-location-map-mob.jpg"
          class="location-map-img"
          alt="map"
        />
      </picture>
    </div>

    <address class="location-address-tel">
      <a
        class="location-address-link"
        href="https://goo.gl/maps/uBJiKYgzRgsMSgCh6"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Ukraine, Poltava,<br />St. Marshal Biryuzov, 15</a
      >
      <div class="location-tel">
        <p class="location-tel-text">call us:</p>
        <ul class="location-tel-list">
          <li>
            <a href="tel:+380955559533">(095) 555 95 33</a>
          </li>
          <li>
            <a href="tel:+380668491089">(066) 849 10 89</a>
          </li>
        </ul>
      </div>
    </address>
  </div>
</section>
