<section class="section-location">
  <div class="container">
    <h2 class="location-header section-title">Location</h2>
    <picture>
      <source
        srcset="
          ../../img/main-location/main-location-map-mob.jpg    1x,
          ../../img/main-location/main-location-map-mob-2x.jpg 2x
        "
        type="image/jpeg"
      />

      <source
        srcset="
          ../../img/main-location/main-location-map-tab.jpg    1x,
          ../../img/main-location/main-location-map-tab-2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ../../img/main-location/main-location-map-desk.jpg    1x,
          ../../img/main-location/main-location-map-desk-2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1440px)"
      />
      <img
        src="../../img/main-location/main-location-map-mob.jpg"
        alt="map"
        width="235"
        height="384"
      />
    </picture>
    <address class="location-address-tel">
      <a
        class="location-address-link"
        href="https://goo.gl/maps/uBJiKYgzRgsMSgCh6"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Ukraine, Poltava,<br />St. Marshal Biryuzov, 15</a
      >
      <div class="location-tel">
        <p class="location-tel-text">call us:</p>
        <ul class="location-tel-list">
          <li>
            <a href="tel:+380955559533">(095) 555 95 33</a>
          </li>
          <li>
            <a href="tel:+380955559533">(095) 555 95 33</a>
          </li>
        </ul>
      </div>
    </address>
  </div>
</section>
