<section class="section-main-rest">
  <div class="container">
    <div class="main-rest">
      <h2 class="section-title">restaurant</h2>

      <p class="main-rest-subtitle-text">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <ul class="main-img-list">
      <li class="main-img-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              .//.//img/main-rest/main-rest-1@1x_lg.jpg 1x,
              .//.//img/main-rest/main-rest-1@2x_lg.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width:768px)"
            srcset="
              .//.//img/main-rest/main-rest-1@1x_md.jpg 1x,
              .//.//img/main-rest/main-rest-1@2x_md.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="main-img-rest"
            srcset="
              .//.//img/main-rest/main-rest-1@1x_sm.jpg 1x,
              .//.//img/main-rest/main-rest-1@2x_sm.jpg 2x
            "
            src="..//..//img/main-rest/main-rest-1@1x_sm.jpg"
            width="336"
            alt="Cocktail"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="main-img-item">
        <picture>
          <source
            media="(min-width:1440px)"
            srcset="
              .//.//img/main-rest/main-rest-4@1x_lg.jpg 1x,
              .//.//img/main-rest/main-rest-4@2x_lg.jpg 2x
            "
            type="image/jpeg"
          />

          <source
            media="(min-width:768px)"
            srcset="
              .//.//img/main-rest/main-rest-4@1x_md.jpg 1x,
              .//.//img/main-rest/main-rest-4@2x_md.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            class="main-img-rest"
            srcset="
              .//.//img/main-rest/main-rest-4@1x_sm.jpg 1x,
              .//.//img/main-rest/main-rest-4@2x_sm.jpg 2x
            "
            src="..//..//img/main-rest/main-rest-2@1x_sm.jpg"
            width="336"
            alt="Cocktail"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="main-btn-list">
      <li class="main-btn-item">
        <button class="main-btn-rest" type="button" data-modal-open>
          Book a table
        </button>
      </li>
      <li class="main-btn-item">
        <button class="main-btn-rest" type="button" data-modal-open>
          View the menu
        </button>
      </li>
    </ul>
  </div>
</section>
